<%- include('header'); -%>
        <!-- ToDo Box -->
        <div id="left" class="bg-fuchsia-50 flex flex-col mx-auto w-80% md:w-5/12 border-2 border-black-800 rounded-md shadow-lg">
            <h1 class="text-center font-sans text-xl md:text-4xl font-bold py-6 border-b-2"><%= Heading %></h1>
            <div class="px-2 pb-2">
                <% tasklist.forEach(function(task){ %>
                    <form action="/delete" method="post">
                        <div class="flex flex-row content-center items-center px-3 py-2 border-b-2 border-gray-300">
                            <input class="peer w-4 h-4 accent-sky-500" type="checkbox" name="checkbox" value="<%= task._id %>" onchange="this.form.submit()">
                            <p class="ml-3 font-mono md:text-xl text-base font-normal peer-checked:line-through"><%= task.name %></p>
                        </div>
                        <input type="hidden" name="listName" value= <%= Heading %>></input>
                    </form> 
               <% }) %>
            </div>
            <form class="flex items-center justify-center mt-2 mb-auto" action="/" method="post">
                <input class=" w-4/6 px-3 py-2 border border-gray-300 rounded-lg shadow-sm placeholder-gray-400 placeholder-center text-center font-mono text-base md:text-lg focus:outline-none focus:border-2 focus:border-b-indigo-500 caret-indigo-600" type="text" name="newtask" id="newtask" autocomplete="off" placeholder="Add Task">
                <button class="cursor-pointer bg-purple-500 rounded-full font-mono font-black text-4xl text-white text-center w-11 h-11 ml-1" type="submit" name="list" value= <%= Heading %> > > </button>
            </form> 
        </div>
<%- include('footer'); -%>